body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.container {
  max-width: 1158px;
  padding-left: 156px;
  padding-right: 156px;
  margin-left: 24px;
  margin-right: 24px;
  display: flex;
  margin: 0 auto;
  padding: 0 15px;

}
.section{
  padding-top: 120px;
  padding-bottom: 120px;
}
/*-------------------HEADER------------------- */
.body {
}
.header {
  border: 1px;
  background-color: white;
  width: 1440px;
  height: 72px; 
  border-bottom: 1px solid #e7e9fc;
}
.navigation {
  display: flex;
  align-items: center;
}
.header-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  margin-bottom: 16px;
  display: inline-block;
}
.studio-span {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.header-navigation {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 24px 0;
}
.header-item {
  
}
.list{
  display: inline-block; 
}
.header-link-navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-link-navigation:hover {
  color: #404bbf;
}
.header-link-navigation:focus {
  color: #404bbf;
}
.all-address {
  font-style: normal;
  display: flex;
  align-items: center;
}
.address-navigarion {
 display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 24px 0;
}
.address-list {
}
.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-link:hover {
  color: #404bbf;
}
.address-link:focus {
  color: #404bbf;
}
/*-------------------MAIN---------------------- */
.hero {
}
.hero-first-section {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
  padding: 188px 0;
}
.hero-first {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
  max-width: 496px;
  
}
.button-hero {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  display: block;
  min-width: 169px ;
  border-radius: 4px;
  height: 56px;
  
}
.button-hero:hover {
  background: #404bbf;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  
}
.button-hero:focus {
  background: #4d5ae5;
  background-color: #404bbf;
  cursor: pointer;
}
.hero-second-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.hero-hidden {
  
}
.hero-list {
  gap: 24px;
  display: flex;
  align-items: center;
  padding-left: 118px;
  padding-right: 118px;
}
.hero-first-item { 
  width: calc((100% - 72px) / 4);
}
.hero-first-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom:8px;
  margin-top: 32px;
  text-align: center;
}
.hero-text-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-top: 8px;
}
.hero-third-section {
  background: #f4f4fd;
  width: 1440px;
  height: 732px; 
  padding: 120px 0 ;
}
.hero-team-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  padding-top: 120px;
  margin-bottom: 72px;
}
.hero-our-team-list {
  gap: 24px;
  display: flex;
  align-items: center;
  

}
.hero-second-item {
  background-color: #ffffff;
  padding: 0px 0px 32px 0px;
  border: none;
  background: #fff;
  width:calc((100% - 72px) / 4); 
  border-radius: 0px 0px 4px 4px; 
}
.hero-second-img {
  
}
.info{
  padding: 32px 16px;
}
.hero-four-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.hero-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.hero-portfolio-item {
  width: calc((100% - 48px) / 3); 
}
.hero-portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.hero-portfolio-img {
}
.hero-portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.cards {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;}
/*-------------------FOOTER------------------- */

.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  
}
.studio-span-footer {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-logo-link{
  display: inline-block;
    margin-bottom: 16px;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-cl);
}